<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Stock</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
<div th:replace="/layouts/header :: header"> </div>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Ajout d'un stock</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Ajout d'un Stock</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <form action="#" th:action="@{/save-stock}" th:object="${stock}" method="POST">
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><span><i style="font-size: 50px" class="bi bi-wallet"></i></span></h5>
                            <label for="validationDefault01" class="form-label">Selectionner le partenaire :</label>
                            <select th:field="*{partner.idPartner}" id="inputState" class="form-select">
                                <option th:each="tempPartner : ${partners}" th:text="${tempPartner.partnerName}"  th:value="${tempPartner.idPartner}" selected></option>
                            </select>
                            <label for="validationDefault01" class="form-label">Intitulé du stock :</label>
                            <input type="text" th:field="*{stockName}" name="stock_name" class="form-control" id="validationDefault01"
                                   required>
                            <label for="validationDefault01" class="form-label">Description du stock :</label>
                            <input type="text" th:field="*{stockDescription}" name="stock_description" class="form-control" id="validationDefault01"
                                   required>
                            <label for="validationDefault01" class="form-label">Selectionner le pays du Stock :</label>
                            <select th:field="*{country.idCountry}" id="inputState" class="form-select">
                                <option th:each="tempCountry : ${countries}" th:text="${tempCountry.countryName}"  th:value="${tempCountry.idCountry}" selected></option>
                            </select>
<!--                            <label for="validationDefault01" class="form-label">Definir un Stock initial :</label>-->
<!--                            <input type="text" th:field="*{balance}" name="balance"  class="form-control" id="validationDefault02"-->
<!--                                   required>-->
                            <div style="margin-top: 7px" class="col-12">
                                <button class="btn btn-primary" type="submit">Créer le Stock</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>


    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
</main>
</body>
</html>