<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recharge success</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{/layouts/header :: header}"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Imprimer le recu</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">Partenaires</li>
                <li class="breadcrumb-item active">Réactivation d'un partenaire</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div
                        th:object="${movement}"
                        method="POST"
                        class="row g-3"
                >
                    <div class="col-md-12" style="display : none">
                        <input
                                type="hidden"
                                th:field="*{idTransaction}"
                                class="form-control"
                                id="validationDefault0"
                               required
                        >
                    </div>
                    <div class="col-12">
                        <h6>Recharge éffectuée avec succès</h6>
                        <h6>Imprimez le recu de la recharge pour l'envoyer au partenaire</h6>
                        <h7 style="font-weight: bold; font-size: 20px" th:text="${movement.stock.stockName}"></h7>
                        <br>
                        <h7 style="font-weight: bold; font-size: 16px" th:text="${movement.stock.partner.partnerName}"></h7>
                        <br>
                        <h7 style="font-weight: bold; font-size: 16px" >Montant de la recharge : <span th:text="${movement.transactionAmount}"></span><span>USD</span></h7>
                        <br>
                        <br>
                        <a th:href="@{/rechargeReportPdf(id=*{idTransaction})}" target="_blank">
                            <button class="btn btn-primary" type="submit">imprimer le recu</button>
                        </a>
                        <a th:href="@{/rechargeReportPdf(id=*{idTransaction})}"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
</body>
</html>