<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
>
<head>
  <meta charset="UTF-8">
  <title>Ajout d'un utilisateur</title>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{/layouts/header :: header}"></div>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Création d'un utilisateur</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Utilisateurs</li>
        <li class="breadcrumb-item active"></li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formulaire de création d'un utilisateur</h5>
            <div th:if="${errorMessage}">
              <div
                      class="alert alert-danger alert-dismissible fade show"
                      th:text="${errorMessage}"
                      role="alert">
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                >
                </button>
              </div>
            </div>
            <!-- General Form Elements -->
            <form action="#" th:action="@{/create-user}" th:object="${user}" method="POST" class="row g-3">
              <div class="col-md-12">
                <label for="validationDefault01" class="form-label">Nom Complet</label>
                <input type="text" th:field="*{name}" name="name" class="form-control" id="validationDefault01"
                       required>
                <label for="validationDefault01" class="form-label">Nom de l'utilisateur (username utilisé pour se connecter)</label>
                <input type="text" th:field="*{userName}" name="user_name" class="form-control" id="validationDefault01" autocomplete="new-username"
                       required>
                <label for="validationDefault01" class="form-label">Mot de passe de l'utilisateur</label>
                <input type="password" th:field="*{password}" name="password"  class="form-control" id="validationDefault02" autocomplete="new-password"
                       required>
                <label for="validationDefault01" class="form-label">Role de l'utilisateur</label>
                <select th:field="*{roles}" name="roles" id="inputState" class="form-select">
                  <option th:field="*{roles}" name="roles" value="ROLE_GUICHET" selected>GUICHET</option>
                  <option th:field="*{roles}" name="roles" value="ROLE_MANAGER" selected>MANAGER</option>
                  <option th:field="*{roles}" name="roles" value="ROLE_ADMIN">ADMIN</option>
                </select>
              </div>

              <div class="col-12">
                <button class="btn btn-primary" type="submit">Créer l'utilisateur</button>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </section>
</main>

<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
</body>
</html>